{% load staticfiles %}
{% load extratags %}


{% if source == "TwitterBase" %}
<section class="tableContainer">
  <div class="section_menu">
  <span class="section_title">
    <b>Hashtags collectés</b>
  </span>
    <div class="section_options">
      <span>|</span>

      <!-- ADD NEW HASHTAG -->
      <span class="section_menuItem"><a onclick="addAshtagPopup()">Ajouter</a></span>
      <div class="popup" id="addNewHashtag">
        <div id="title">Ajouter un nouveau <i>hashtag</i></div>
        <div id="help">
          Ajoute un nouvel <i>hashtag</i> à votre liste de collecte. Peut commencer ou non avec le
          caractère "#". Une date de début et de fin doit être fournie pour chaque hashtag spécifié.
          Celles-ci correspondent à la période durant laquelle le hashtag sera collectée.
          Si la méthode CSV est utilisée, chaque ligne du fichier doit prendre la forme suivante:
          <br><br>
          <center>
            <b>terme,date_de_debut,date_de_fin</b>
          </center>
          <br>
          Où start_date < end_date et où les deux sont écrits tels que: MM/JJ/AAAA. Par exemple:
          <br><br>
          <center>
            <b>#GRCP,01/01/2012,12/31/2014</b>
          </center>
          <br> est un format valide.
        </div>
        <div id="content">
          <form
              style="text-align: center"
              method="post"
              action="/twitter/addHashtag"
              enctype="multipart/form-data"
              id="addHashtagPopupForm"
          >
            {% csrf_token %}
            <p>Spécifiez tous les hashtags:</p>
            <table>
              <tr>
                <th>Terme</th>
                <th>Date de début</th>
                <th>Date de fin</th>
              </tr>
              <tr>
                <td><input type="text" name="term_0" placeholder="hashtag"></td>
                <td><input type="date" name="since_0"></td>
                <td><input type="date" name="until_0"></td>
              </tr>
              <tr>
                <td><input type="text" name="term_1" placeholder="hashtag"></td>
                <td><input type="date" name="since_1"></td>
                <td><input type="date" name="until_1"></td>
              </tr>
              <tr>
                <td><input type="text" name="term_2" placeholder="hashtag"></td>
                <td><input type="date" name="since_2"></td>
                <td><input type="date" name="until_2"></td>
              </tr>
            </table>
            <br><br>
            <input type="submit" value="Soummettre">
            <br><br>
          </form>
        </div>
        <script id="functions">

          function addAshtagPopup() {
            displayCenterPopup('addNewHashtag');
            select_popup_content('#addHashtagPopupForm').unbind('submit');
            select_popup_content('#addHashtagPopupForm').submit(function (event) {
              event.preventDefault();
              var formData = new FormData($(this)[0]);
              set_popup_waiting(true);
              set_popup_selectable(false);
              $.ajax({
                url: $(this).attr('action'),
                type: 'POST',
                data: formData,
                processData: false,
                contentType: false,
                success: function (response) {
                  closeCenterPopup();
                  set_popup_waiting(false);
                  set_popup_selectable(true);
                  manage_ajax_response(response);
                  reloadTable('#TWHashtagTable');
                },
              });
            });
          }
        </script>
      </div>

      <span>|</span>

      <!-- REMOVE HASHTAG -->
      <span class="section_menuItem"><a onclick="displayRemoveHashtagsPopup()">Retirer</a></span>
      <div class="popup" id="removeHashtags">
        <div id="title">Retirer</div>
        <div id="help">
          Retire un hashtag de votre liste de collecte. Ni le hashtag ni les tweets associés ne seront
          supprimés.
        </div>
        <div id="content">
          <center>êtes-vous sûr de vouloir supprimer les <br> hashtags sélectionnés de votre liste de
            collecte?
            <br><br>
            <div id="selectedHashtagsNumber">0 lignes sélectionnées</div>
            <br>
            <input type="submit" value="Remove" onclick="submitRemoveHashtagForm()"></input>
          </center>
        </div>
        <script id="functions">
          function displayRemoveHashtagsPopup() {
            clear_last_popup_content();
            var displayer = $('#removeHashtags').children('#content').children().children('#selectedHashtagsNumber');
            var length = selectedCounts['#TWHashtagTable'];
            if (!length) {
              alert('Vous devez d\'abord sélectionner une ligne dans le tableau.');
            }
            else {
              displayer.html('' + length + ' row' + (length > 1 ? 's' : '') + ' selected');
              displayCenterPopup('removeHashtags');
            }

          }

          function submitRemoveHashtagForm() {
            url = '/removeSelectedItems?pageURL=' +
              window.location.pathname + '&tableId=TWHashtagTable' +
              '&listToRemoveFrom=twitterHashtagsToHarvest';
            executeAjaxAndDisplayMessages(url, '#TWHashtagTable');
          }
        </script>
      </div>

      <!-- ADD TO COLLECTION -->
      {% with name="add_to_collection" model_name="Hashtag" table_id="TWHashtagTable" %}
      {% include "tool/tables/tableMenuItems.html" %}
      {% endwith %}

      <!-- DOWNLOAD FIELDS -->
      {% with name="downloadFields" className="Hashtag" filename="Collected_hashtags" %}
      {% include "tool/tables/tableMenuItems.html" %}
      {% endwith %}

      {% include "tool/tables/tableMenuItems.html" with name="reloadTable" %}
    </div>
    {% include "tool/tables/tableMenuItems.html" with name="openCloseIcon" %}
  </div>
  <div class="section_content">
    <table class="display" id="TWHashtagTable" width="100%" drawn='False'>
      <script class="tableVars">
        var modelName = 'Hashtag';
        var srcs = [
          {
            attr: 'twitterHashtagsToHarvest',
          },
        ];
        var columns = [
          {
            'colStr': 'Terme',
            'fields': ['term', 'getLink'],
            'render': function (data, type, row) {
              if (row['term'] == null) {
                return undefinedTag();
              } else {
                return tableToolLink(row['getLink'],
                  truncate_text(row['term'], 30, true));
              }
            },
          },
          {
            'orderable': false,
            'searchable': false,
            'colStr': 'Nombre de tweets',
            'fields': ['tweets__count'],
            'render': function (data, type, row) {
              if (row['tweets__count'] == null) {
                return '';
              }
              ;
              return centeredTag(row['tweets__count']);
            },
          },
        ];
      </script>
    </table>
  </div>
</section>

{% elif source == "TwitterTweetHashtag" %}
<section class="tableContainer">
  <div class="section_menu">
  <span class="section_title">
    <b>Hashtags inclus</b>
  </span>
    <div class="section_options">
      {% with name="downloadFields" className="Tweet" filename=tweet.get_ident|join:"_favorited_by" %}
      {% include "tool/tables/tableMenuItems.html" %}
      {% endwith %}
      {% include "tool/tables/tableMenuItems.html" with name="reloadTable" %}
    </div>
    {% include "tool/tables/tableMenuItems.html" with name="openCloseIcon" %}
  </div>
  <div class="section_content">
    <table class="display" width="100%" drawn='False' id="TWContainedHashtagsTable">
      <script class="tableVars">
        var modelName = 'Hashtag';
        var srcs = [
          {
            modelName: 'Tweet',
            attr: 'hashtags',
            id: '{{ tweet.pk }}',
          },
        ];
        var columns = [
          {
            'colStr': 'Terme',
            'fields': ['term', 'pk'],
            'render': function (data, type, row) {
              if (row['term'] == null) {
                return undefinedTag();
              } else {
                return tableToolLink('/twitter/hashtag/' + row['pk'],
                  truncate_text(row['term'], 30, true));
              }
            },
          },
          {
            'orderable': false,
            'searchable': false,
            'colStr': 'Nombre de tweets',
            'fields': ['hit_count'],
            'render': function (data, type, row) {
              if (row['hit_count'] == null) {
                return '';
              }
              ;
              return centeredTag(row['hit_count']);
            },
          },
        ];
      </script>
    </table>
  </div>
</section>

{% elif source == "ToolLinechart" %}
<section class="tableContainer halfWidth">
  <div class="section_menu">
  <span class="section_title">
    <b>Hashtags collectés</b>
  </span>
    <div class="section_options">
      {% include "tool/tables/tableMenuItems.html" with name="reloadTable" %}
    </div>
    {% include "tool/tables/tableMenuItems.html" with name="openCloseIcon" %}
  </div>
  <div class="section_content">
    <table class="display" id="TWHashtagTable" width="100%" drawn='False'>
      <script class="tableVars">
        var modelName = 'Hashtag';
        var srcs = [
          {
            attr: 'twitterHashtagsToHarvest',
          },
        ];
        var columns = [
          {
            'colStr': 'Terme',
            'fields': ['term', 'getLink'],
            'render': function (data, type, row) {
              if (row['term'] == null) {
                return undefinedTag();
              } else {
                return tableToolLink(row['getLink'],
                  truncate_text(row['term'], 30, true));
              }
            },
          },
          {
            'orderable': false,
            'searchable': false,
            'colStr': 'Nombre de tweets',
            'fields': ['tweets__count'],
            'render': function (data, type, row) {
              if (row['tweets__count'] == null) {
                return '';
              }
              ;
              return row['tweets__count'];
            },
          },
        ];
      </script>
    </table>
  </div>
</section>

{% elif source == "ToolPiechartHashtagPosterLocation" %}
<section class="tableContainer halfWidth">
  <div class="section_menu">
    <span class="section_title">
      <b>Location des auteurs de tweets contenant un hashtag</b>
    </span>
    <div class="section_options">
      {% include "tool/tables/tableMenuItems.html" with name="reloadTable" %}
    </div>
    {% include "tool/tables/tableMenuItems.html" with name="openCloseIcon" %}
  </div>
  <div class="section_content">
    <table class="display" id="TWHashtagTable" width="100%" drawn='False'>
      <script class="tableVars">
        var modelName = 'Hashtag';
        var srcs = [
          {
            attr: 'twitterHashtagsToHarvest',
          },
        ];
        var columns = [
          {
            'colStr': 'Terme',
            'fields': ['term', 'getLink'],
            'render': function (data, type, row) {
              if (row['term'] == null) {
                return undefinedTag();
              } else {
                return tableToolLink(row['getLink'],
                  truncate_text(row['term'], 30, true));
              }
            },
          },
          {
            'orderable': false,
            'searchable': false,
            'colStr': 'Nombre de tweets',
            'fields': ['tweets__count'],
            'render': function (data, type, row) {
              if (row['tweets__count'] == null) {
                return '';
              }
              ;
              return row['tweets__count'];
            },
          },
        ];
      </script>
    </table>
  </div>
</section>

{% elif source == "searchResult" %}
<section class="tableContainer">
  <div class="section_menu">
    <span class="section_title">
      <b>Hasthags Twitter</b>
    </span>
    <div class="section_options">
      {% with name="downloadFields" className="Hashtag" filename="TwitterHashtagsSearchResults_"|join:query %}
      {% include "tool/tables/tableMenuItems.html" %}
      {% endwith %}

      {% include "tool/tables/tableMenuItems.html" with name="reloadTable" %}
    </div>
    {% include "tool/tables/tableMenuItems.html" with name="openCloseIcon" %}
  </div>
  <div class="section_content">
    <table class="display" id="TwitterHashtags" width="100%" drawn='False'>
      <script class="tableVars">
        var modelName = 'Hashtag';
        var srcs = [
          {
            query: '{% autoescape off %}{{ query }}{% endautoescape %}',
          },
        ];
        var columns = [
          {
            'colStr': 'Terme',
            'fields': ['term', 'pk'],
            'render': function (data, type, row) {
              if (row['term'] == null) {
                return undefinedTag();
              } else {
                return tableToolLink('/twitter/hashtag/' + row['pk'],
                  truncate_text(row['term'], 30, true));
              }
            },
          },
          {
            'orderable': false,
            'searchable': false,
            'colStr': 'Nombre de tweets',
            'fields': ['hit_count'],
            'render': function (data, type, row) {
              if (row['hit_count'] == null) {
                return '';
              }
              ;
              return row['hit_count'];
            },
          },
        ];
      </script>
    </table>
  </div>
</section>

{% elif source == "collection_details" %}
<section class="tableContainer">
  <div class="section_menu">
  <span class="section_title">
  <b>Hashtags Twitter</b>
  </span>
    <div class="section_options">

      <!-- DOWNLOAD FIELDS -->
      {% with name="downloadFields" className="Hashtag" filename="Collection_twitter_hashtags"%}
      {% include "tool/tables/tableMenuItems.html" %}
      {% endwith %}

      {% include "tool/tables/tableMenuItems.html" with name="reloadTable" %}
    </div>
    {% include "tool/tables/tableMenuItems.html" with name="openCloseIcon" %}
  </div>
  <div class="section_content">
    <table class="display" id="collection_hashtag_table" width="100%" drawn='False'>

      <script class="tableVars">
        var modelName = 'CollectionItem';
        var srcs = [
          {
            modelName: 'Collection',
            attr: 'items_twitter_hashtags',
            id: '{{ collection.pk }}',
          },
        ];
        var columns = [
          {
            'colStr': 'Terme',
            'fields': ['twitter_hashtag__term', 'twitter_hashtag__getLink'],
            'render': function (data, type, row) {
              if (!row['twitter_hashtag__term']) {
                return undefinedTag();
              } else {
                return tableToolLink(row['twitter_hashtag__getLink'],
                  truncate_text(row['twitter_hashtag__term'], 30, true));
              }
            },
          },
          {
            'colStr': 'Nombre de Tweets',
            'fields': ['twitter_hashtag__tweets__count'],
            'render': function (data, type, row) {
              return centeredTag(row['twitter_hashtag__tweets__count']);
            },
          },
        ];
      </script>
    </table>
  </div>
</section>

{% endif %}
