{% extends "MainPage.html" %}
{% load staticfiles %}
{% load extratags %}


{% block extendHead %}
<link rel="stylesheet" type="text/css" href='{% static "css/table_style.css" %}?v={{ STATICFILES_VERSION }}' name="style">

<script type="text/javascript" src='{% static "js/table_script.js" %}?v={{ STATICFILES_VERSION }}'></script>
{% endblock %}

{% block content %}
<!--  GUIDE D'UTILISATION  -->
<section class="tableContainer">

  <div class="section_menu">
  <span class="section_title">
    <b>Guide d'utilisation</b>
  </span>
    {% include "tool/tables/tableMenuItems.html" with name="openCloseIcon" %}
  </div>

  <div class="section_content">
    Les collectes (ou collections) vous permettent de regrouper différentes source de données sous forme de "Collecte
    Aspira". Vous pouvez donc organiser vos utilisateurs Twitter, pages Facebook et chaines Youtube selon un theme commun.
    <br/><br/>
    Il est aussi possible de naviguer parmis les collectes existantes, et de suivre celles qui vous intéressent.
  </div>
</section>

<section class="tableContainer">
  <div class="section_menu">
    <!-- SEARCH COLLECTION -->
    <span
        class="tableOpenCloseIcon main_menu_item"
        title="Rechercher parmis les collectes existantes"
        onclick="show_search_collection_popup()"
    >
      {% include "tool/icons.html" with x=6 y=0 className="openCloseIcon" %}
    </span>
    <div class="popup" id="search_collection_popup">
      <div id="title">Recherche de collectes existantes</div>
      <div id="help">
        Recherchez un terme de collecte pour déterminer s'il existe ou naviguez parmis la liste
      </div>
      <div id="content">
        search_collection_popup
      </div>
      <script id="functions">
        function show_search_collection_popup() {
          displayCenterPopup('search_collection_popup', function () {
          });
        }
      </script>
    </div>

    <!-- CREATE NEW COLLECTION -->
    <span
        class="tableOpenCloseIcon main_menu_item"
        title="Créer une nouvelle collecte"
        onclick="show_create_new_collection_popup()"
    >
      {% include "tool/icons.html" with x=3 y=3 className="openCloseIcon" %}
    </span>
    <div class="popup" id="create_new_collection_popup">
      <div id="title">Création d'une nouvelle collecte</div>
      <div id="help">
        Utilisez cet outil pour créer un nouveau thème de collecte Aspira.
      </div>
      <div id="content">
        <form action="/collection/create/" method="post" id="create_collection_form" >
          {% csrf_token %}
          <table>
            <tr>
              <td>Nom:</td>
              <td><input type="text" name="name" placeholder="Nom de la collecte" required/></td>
            </tr>
            <tr>
              <td>Description:</td>
              <td>
                <textarea
                    form="create_collection_form"
                    rows="4"
                    cols="55"
                    name="description"
                    style="font-family: Verdana;font-size: 12px;"
                >
                  {{fieldKeeper.usageText}}
                </textarea>
              </td>
            </tr>
            <tr>
              <td>Début de collecte:</td>
              <td><input type="date" name="harvest_start" required/></td>
            </tr>
            <tr>
              <td>Fin de collecte:</td>
              <td><input type="date" name="harvest_end" required/></td>
            </tr>
            <tr>
              <td>Activée:</td>
              <td><input type="checkbox" name="active" checked /></td>
            </tr>
            <tr>
              <td></td>
              <td><input type="submit" value="Ajouter"></td>
              <td></td>
            </tr>
          </table>
        </form>
      </div>
      <script id="functions">
        function show_create_new_collection_popup() {
          displayCenterPopup('create_new_collection_popup', function () {
          });
        }
      </script>
    </div>
  </div>
</section>

{% for followed_collections in user.followed_collections.all %}
  {% include "tool/tables/collection_table.html" with source="collection_dashboad" collection=followed_collections %}
{% endfor %}

{% endblock %}






























































