{% load staticfiles %}
{% load extratags %}

{% if tool == "gridDisplay" %}
<div class="grid">
  {% autoescape off %}
  {{ item|getFieldsValuesAsTiles:currentUser }}
  {% endautoescape %}
</div>

{% elif tool == "addRemoveFromList" %}
{% with harvester=item|get_item_harvester:user.userProfile %}
{% if harvester %}
<span class="document_title document_menu" title="Retirer de ma liste de collecte"
      style="background-color : rgba(0, 222, 0, 0.85);">
    <a onclick=displayCenterPopup("removeFromList")>
      {% with x=5 y=5 style='height:15px;width:15px;vertical-align:middle' %}
      {% include "tool/icons.html" %}
      {% endwith %}

      Présentement collecté du <i>{{ harvester.harvest_since_str }}</i>
      au <i>{{ harvester.harvest_until_str }}</i>
    </a>
</span>
<div class="popup" id="removeFromList">
  <div id="title">Retirer de la liste</div>
  <div id="help">
    Retrait de <b>{{ item }}</b>
  </div>
  <div id="content">
    <center>
      Voulez-vous retirer <br><br>
      <b>{{ item }}</b><br><br>
      de votre liste de collecte Aspira?<br><br>
    </center>
    <div style="width:300px; height:30px;">
      <input type="button" class="cancelButton" value="Annuler" onclick="cancelOperation()">
      <input type="button" class="submitButton" value="Retirer" onclick="submitOperation(false)">
    </div>
  </div>
  {% else %}

  <span class="document_title document_menu" title="Ajouter à ma liste de collecte">
    <a onclick=displayCenterPopup("addToList")>
        {% include "tool/icons.html" with x=4 y=5 style='height:15px;width:15px;vertical-align:middle'%}
        Ajouter à ma liste
    </a>
  </span>
  <div class="popup" id="addToList">
    <div id="title">Ajouter à ma liste</div>
    <div id="help">
      Ajout de <b>{{ item }}</b>
    </div>
    <div id="content">
      <center>
        Voulez-vous ajouter <br><br>
        <b>{{ item }}</b><br><br>
        à votre liste de collecte Aspira?<br><br>
        Date de debut :
        <input id="{{item.get_obj_ident}}_harvest_since" type="date">
        <br>
        Date de fin :
        <input id="{{item.get_obj_ident}}_harvest_until" type="date">
        <br><br>
      </center>
      <div style="width:300px; height:30px;">
        <input type="button" class="cancelButton" value="Annuler" onclick="cancelOperation()">
        <input type="button" class="submitButton" value="Ajouter" onclick="submitOperation(true)">
      </div>
    </div>
    {% endif %}
    {% endwith %}
    <script id="functions">
      function cancelOperation() {
        closeCenterPopup();
      }

      function submitOperation(addItem) {
        var url = '/user/forms/manageHarvestList/';
        if (addItem) {
          url += 'add';
        } else {
          url += 'remove';
        }
        let harvest_since = select_popup_content('input#{{item.get_obj_ident}}_harvest_since').val();
        let harvest_until = select_popup_content('input#{{item.get_obj_ident}}_harvest_until').val();
        log(harvest_until);
        $.post(url, {
          'id': '{{ item.pk }}',
          'model': '{{ item|get_type_str }}',
          'harvest_since': harvest_since || '',
          'harvest_until': harvest_until || '',
          'csrfmiddlewaretoken': '{{ csrf_token }}',
        }, function (response) {
          closeCenterPopup();
          manage_ajax_response(response);
          setTimeout(function () {
            location.reload();
          }, 2000);
        });
      }
    </script>
  </div>
  {% endif %}
