
.content {
    flex: 1;
    margin: 2px;
    align-content: center;
}

.section_box {
    border: solid 1px #DDD;
    background-color: #FFF;
    height: 300px;
    margin-bottom: 3px;
    text-align: left;
    padding: 7px;
    box-shadow: none;
}

.section_box:hover {
    box-shadow: 2px 2px 4px 6px #DDD;
    background-color: #FFF;
}

.section_title {
    font-size: 14px;
    border-bottom: solid 1px #DDD;
    padding-bottom: 3px;
}

.section_title center {
    height: 30px;
    padding-top: 8px;
    font-weight: bold;
}

.section_title_icon {
    width: 35px;
    height: 35px;
    vertical-align: middle;
    position: absolute
}

#editor {
    margin-top: 35px;
    float: right;
    margin-right: 5px;
}

#zone_title {
    height: 60px;
}

#title_text {
    float: left;
    margin-top: 20px;
    margin-left: 5px;
    font-size: 16px;
    font-weight: bold;
}

.section_box_info {
    font-size: 12px;
    border-bottom: solid 1px #DDD;
    padding: 5px;
}

.dataValue {
    float: right;
}
























